@use "mixin" as mixin;

html {
  -webkit-transition: -webkit-filter 300ms linear;
  transition-behavior: normal;
  transition-duration: 300ms;
  transition-timing-function: linear;
  transition-delay: 0s;
  transition-property: -webkit-filter;
}

html.dark {
  .react-international-phone-country-selector-dropdown {
    background: rgba(20, 20, 20, 0.7) !important;
    color: white !important;
  }

  body {
    color: white;
    background-color: black;
  }

  .react-international-phone-input  {
    color: white !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #4a4a4a;
  }
}

.react-international-phone-country-selector-button {
  background: transparent !important;
  border: none !important;
  backdrop-filter: blur(8px);
}

.react-international-phone-input {
  background: transparent !important;
  border: none !important;
  font-size: 16px !important;
}

.react-international-phone-country-selector-dropdown {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.6) !important;
}

.wave-loader {
  position: relative;
  background: pink;
  border-radius: 50%;

  .loader {
    content: "";
    position: absolute;
    background: pink;
    width: 100%;
    opacity: 0.8;
    height: 100%;
    border-radius: inherit;
    animation: wave 2s linear infinite;
  }

  .loader:nth-child(2) {
    animation-delay: 1s;
  }

  .loader:nth-child(3) {
    animation-delay: 2s;
  }
}

.ant-card,
.ant-modal-content,
.ant-drawer-content,
.ant-popover-inner,
.ant-select-dropdown,
.ant-picker-dropdown,
.ant-dropdown-menu,
.ant-modal-container,
.ant-segmented-item-selected {
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

@keyframes wave {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
