@import "tailwindcss";

@import "tailwindcss";

/* Screens (breakpoints) */
@theme {
  --breakpoint-xxs: 0px;
  --breakpoint-xsm: 420px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-xlg: 860px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;

  /* Colors */
  --color-icon: #154060;
  --color-light: #f3f3f4;
  --color-footer: #072134;
  --color-default: #f9fafb;
  --color-primary: #355872;
  --color-secondary: #527593;
  --color-pink-badge: #f64459;
}

/* Dark mode */
@variant dark (&:where(.dark, .dark *));

/* Disable container plugin */
@layer utilities {
  .container {
    all: unset;
  }
}